.MuiToolbar-root-40 > a > h6{
  color: white;
}

.MuiButton-label-99{
  color: white;
}

.MuiButton-label-45{
  color: white;
  text-decoration: inherit;
}

.position{
  text-align: center;
  align-items: inherit;
  margin-left: 35%;
}